.home-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  min-height: 100vh;
}

.home__description h1 {
  font-family: var(--font-type-100);
  font-size: 6rem;
  font-weight: 700;
  display: block;
  color: var(--text-color-150);
  text-align: center;
}

.home__description p {
  text-align: center;
  font-size: 1.6rem;
  margin: 1rem 0 2rem 0;
}

.home__description--links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.home__description--links a {
  font-size: 2rem;
  color: var(--text-color-150);
  text-decoration: none;
  display: inline-block;
}

.home__description--links a:last-child  {
  font-size: 1.2rem;
  color: var(--text-color-150);
  border: .2rem solid rgba(255, 255, 255);
  border-radius: .8rem;
  padding: .8rem;
}

.home__picture {
  display: flex;
  justify-content: center;
}

.home__picture img {
  max-width: 70%;
  border-radius: 50%;
}

@media (min-width: 420px) {
  .home__picture img {
    max-width: 60%;
  }
}

@media (min-width: 780px) {
  .home-wrapper {
    flex-direction: row;
  }
  .home__description {
    text-align: center;
  }
 
  .home__description h1 {
    font-size: 8rem;
  }
  .home__description p {
    font-size: 1.8rem;
  }

  .home__picture img {
    min-width: 65%;
  }
}

@media (min-width: 1024px) {
  .home__description h1 {
    font-size: 9rem;
  }

  .home__description p {
    font-size: 2rem;
    margin-top: 0;
  }
}